@import "menu.scss";
@import "banner.scss";

//Header section
.ba-header {
  min-height: 900px;
  padding-top: 45px;
  background: #024869 url("../../assets/img/hero-img.jpg") 50% no-repeat;
  background-size: cover;
  position: relative;
}

.ba-logo {
  float: left;
  margin: 0;
  padding: 5px 0 0 0;
}

.ba-horizontal-line {
  width: 86px;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto 38px;
}

.ba-scroll {
  position: absolute;
  bottom: 46px;
  left: 50%;
  width: 93px;
  margin-left: -46px;
  height: 93px;
  border-radius: 50%;
  background: url(../../assets/img/button-hero.svg) no-repeat 50%;
  &:hover {
    box-shadow: 0 0 5px 2px #ffffff;
  }
}