@import "menu.scss";
@import "banner.scss";
@import "footer.scss";

.ba-header {
  padding-top: 30px;
  padding-bottom: 97px;
  background: $header-bg;
  background-size: cover;
  position: relative;
}

.ba-logo {
  float: left;
  margin: 0;
  padding: 5px 0 0 0;
}





