.ba-team {
  padding: 80px 0 74px;
  &__title {
    color: #333b46;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
    margin: 0 auto 36px;
    letter-spacing: 1.1px;
    text-align: center;
  }
  &__description {
    color: #81868e;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 auto 60px;
    letter-spacing: 1.1px;
    text-align: center;

  }
}