@import "header.scss";
@import "filter.scss";


.ba-works {
  max-width: 1125px;
  margin: 0 auto;
}

.ba-grid__item {
  width: 25%;
  padding-bottom: 10px;
}

.ba-grid__img {
  display: block;
  max-width: 100%;
}