$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$header-bg: #434a45 url("../../assets/img/intro.jpg") 50% no-repeat;
$scroll-bg: url('../../assets/img/header-btn.png') no-repeat 50%;
$contact-bg: #262626 url("../../assets/img/contact-us-bg.jpg") 50% no-repeat;
